
@{
    ViewData["Title"] = "Error";
}

<h1>Error occured while proccessing your request </h1>
<br />
Error may be due to following reason:
<br />
-->Your need to login first.
<br />
-->Product not found.
<br />
-->Micro service might not be working.
<br />
click below to go Home page Or click on log button in Nav bar to login again
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Home</a>
    <br />
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="User" asp-action="Login">Login</a>

</div>

