@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>To</h2>
        <h1>Retail Product Management</h1>
        <h3>Shop With Us !!</h3>
        <br />
        <div class=" offset-4 col-4 text-center">

            <a class="nav-link btn btn-success" asp-area="" asp-controller="User" asp-action="Login">Login</a>

            @*
            <a style="margin-top:8px" class="nav-link btn btn-info" asp-controller="Product" asp-action="Index">Product</a>
            *@

        </div>


    </div>

