
@{
    ViewData["Title"] = "SeeProduct";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>To</h2>
        <h1>Retail Product Management</h1>
        <br />
        <h3 style="color:green"><b>Your Are Successfully Logged in</b></h3>
        <br />
        <div class=" offset-4 col-4 text-center">

            <a class="nav-link btn btn-primary"  asp-controller="Product" asp-action="Search">Search Product</a>
            <a class="nav-link btn btn-info"  asp-controller="Product" asp-action="Index">All Product</a>
            <a class="nav-link btn btn-success"  asp-controller="Cart" asp-action="Index">View Cart</a>

        </div>


    </div>